<!--Created By: Brandon Kengel
    If Modified insert your comment and your name by function
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  
</head>    
<body>

<!-- <form class="box" action="http://adsanvar.pythonanywhere.com/changePassword" method="post"> -->
<!-- <form action="http://localhost:5000/changePassword" method="post"> -->
  <form action="{{ url_for('auth.changePassword_post') }}" method="post"> 
  
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>SmartLock - Forgot Password</title>
  </head>
  <body>
<!-- <form class="box" action="http://adsanvar.pythonanywhere.com/dashboard" method="post"> -->
<!-- <form class="box" action="http://172.20.10.2:5000/dashboard" method="post"> -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('home.index') }}">SmartLock</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <div class="form-group">
          <h1>Change Password</h1>
        </div>
        <ul class="list-group">
          <form action="{{ url_for('auth.changePassword_post') }}" method="post">
            <div class="form-group">
              <input class="list-group-item" type="text" name="user" value="{{user}}" readonly>
            </div>
            <div class="form-group">
              <input class="list-group-item" type="password"  name="newPass" placeholder="New Password" required>
            </div>
            <div class="form-group">
              <input class="list-group-item" type="password"  name="confirmPass" placeholder="Confirm Password" required>
            </div>
            <div class="form-group">
              <input class="list-group-item" type="text" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input class="list-group-item" type="submit" name="confirm" value="Confirm">
            </div>
          </form>
        </ul>
      </div>
    </div>
      <footer>
        <div class="container-fluid">
            <p>©2020 SmartLock</p>
            <p> Contact Us By Phone: 1-800-111-1111</p>
            <p> Email: SmartLock.noplay@gmail.com</p>
        </div>
    </footer>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </form>
  </body>
</html>
