<!--Created By: Adrian Sandoval-Vargas
    If Modified insert your comment and your name by function
-->
<!DOCTYPE html>
<html lang="en" ><!--dir="ltr"-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css')}}">
  </head>
    <body>

  <form class="box" action="{{ url_for('home.dashboard') }}" method="post">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('home.dashboard') }}">SmartLock Dash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
              </ul>
                <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="logout">Logout</button>
                </form>
            </div>
        </nav>
        
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">SmartLock Dashboard</h1>
                <p class="lead">Hello {{ info }}</p>
                <!-- <a class="btn btn-primary" href="#" role="button">More</a> -->
            </div>
        </div>
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  <p class="alert-{{category}}">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}  
            <div class="row">
                <div class="col-md-4">
                  <h3>Change Password</h3>
                    <ul class="list-group">
                      <form action="{{ url_for('home.post_dashboard') }}" method="post">
                      <div class="form-group">
                        <input class="list-group-item" type="password" name="old_password" placeholder="Old Password">
                      </div>
                      <div class="form-group">
                        <input class="list-group-item" type="password" name="new_password" placeholder="New Password">
                      </div>
                    <div class="form-group">
                        <input class="list-group-item" type="password" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <input class="list-group-item" type="submit" name="confirm2" value="Confirm">
                    </div>
                  </form>
                  </ul>
                </div>
                {% if role == 'member' %}
                <div class="col-md-4">
                  <h3>Change Pin Code</h3>
                  <ul class="list-group">
                    <form action="{{ url_for('home.post_dashboard') }}" method="post">
                      <div class="form-group">
                        <input class="list-group-item" type="password" name="old_rpi_pin" placeholder="Old Pin" maxlength="4">
                      </div>
                      <div class="form-group">
                        <input class="list-group-item" type="password" name="rpi_pin" placeholder="New Pin" minlength="4" maxlength="4">
                      </div>
                      <div class="form-group">
                        <input class="list-group-item" type="password" name="rpi_confirm_pin" placeholder="Confirm Pin" minlength="4" maxlength="4">
                      </div>
                      <div class="form-group">
                        <input class="list-group-item" type="submit" name="confirm1" value="Confirm">
                      </div>
                    </form>
                  </ul>
                    <!-- <p>
                        <a href="#" class="btn btn-default btn-lg">More...</a>
                    </p> -->
                  </div>
                  <div class="col-md-4">
                    <h3>Add Member</h3>
                    <ul class="list-group">
                      <form action="{{ url_for('home.post_dashboard') }}" method="post">
                        <div class="form-group">
                          <input class="list-group-item" type="text" name="member_username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                          <input class="list-group-item" type="password" name="member_password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                          <input class="list-group-item" type="text" name="member_firstname" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                          <input class="list-group-item" type="text" name="member_lastname" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                          <input class="list-group-item" type="submit" name="confirm_member" value="Confirm" required>
                        </div>
                      </form>
                    </ul>
                  </div>
                <div class="container">
                  <h3 style='text-align: center;'>Members</h3>
                  <table class="table table-hover table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Update</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in members %}
                        <!-- <th scope="row">1</th> -->
                        <td>{{user.username}}</td>
                        <td>
                          <div class="row btn-toolbar">
                            <div class="btn-group mr-2">
                              <button class= "btn btn-outline-warning" type="button" data-toggle="modal" data-target="#exampleModal" data-user="{{user.username}}">Edit</button>
                            </div>
                            <div class="btn-group mr-2">
                              <button class= "btn btn-outline-danger" name="btn_delete" data-toggle="modal" data-target="#exampleModalCenter" data-user="{{user.username}}">Delete</button>                        
                            </div>                            
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                      <tr>

                    </tbody>
                  </table>

                <!--Modal For Edit-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Member</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('home.post_dashboard') }}" method="post">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input class="form-control" type="text" name="username" id="username" readonly>
                            </input>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Password</label>
                            <input class="form-control" type="password" name="password" id="password"></input>
                            <input type="checkbox" onclick="viewPassword()"> Show Password</input>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" name="update_user" class="btn btn-primary">Update User</input>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> 

                <!--Modal For Edit-->
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete Member</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('home.post_dashboard') }}" method="post">
                            <p id="info1"></p>
                            <input name="delete_user" id="user" type="text" readonly></input>
                            <p id="info2"></p>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                              <button type="submit" name="member_delete" class="btn btn-outline-danger">Yes</button>
                            </div>
                          </form>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endif %}  
            </div>
        </div>
        <footer>
          <br/>
          <div class="container-fluid">
              <p>©2020 SmartLock</p>
              <p> Contact Us By Phone: 1-800-111-1111</p>
              <p> Email: SmartLock.noreply@gmail.com</p>
          </div>
      </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Gets Data From Table and puts in Model-->
        <script>
          $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('user') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            //var modal = $(this)
            //modal.find('.modal-body input').val(pas)
            //modal.find('input p').text(recipient)
            $("#username").val(recipient)
            })

            $('#exampleModalCenter').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('user') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            //modal.find('.modal-body input').val(pas)
            //modal.find('input p').text(recipient)
            $("#info1").text("You Are About To Delete:")
            $("#user").val(recipient)
            $("#info2").text("Are You Sure?")
          })
        </script>
        <!-- View Password In Model Code -->
        <script>
          function viewPassword() {
            var x = document.getElementById("password");
            if (x.type === "password") 
            {
              x.type = "text";
            } 
            else 
            {
              x.type = "password";
            }
          }
        </script>
      </form>
      </body>
</html>
