<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َRaspberry Pi Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>

<!-- <form class="box" action="http://jamesreddington.pythonanywhere.com/login" method="post"> -->
<form class="box" action="http://localhost:3036/login" method="post"> 
  <h1>Pi Login</h1>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name="login" value="Login">
  <input type="submit" name="signup" value="signup">
</form>


  </body>
</html>
