<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>

<!-- <form class="box" action="http://adsanvar.pythonanywhere.com/vertification" method="post"> -->
<!-- <form class="box" action="http://localhost:5000/vertification" method="post">  -->
  <form class="box" action="{{ url_for('auth.vertification') }}" method="post"> 
  <p style="color:white;">We've sent you a link to your email. Please verify that it is you :D</p>
  <input type="submit" name="vertification_login" value="Login">
</form>


  </body>
</html>