<!DOCTYPE html>
<html>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    
     <div class="pin-login" id="mainPinLogin">
        <input type="password" readonly class="pin-logintext">
        <div class="pin-loginnumpad">
            <div class="pin-loginkey">1</div>
            <div class="pin-loginkey">2</div>
            <div class="pin-loginkey">3</div><br>
            <div class="pin-loginkey">4</div>
            <div class="pin-loginkey">5</div>
            <div class="pin-loginkey">6</div><br>
            <div class="pin-loginkey">7</div>
            <div class="pin-loginkey">8</div>
            <div class="pin-loginkey">9</div><br>
            <div class="pin-loginkey material-icons">backspace</div>
            <div class="pin-loginkey">0</div>
            <div class="pin-loginkey material icons">done</div> 
        </div>
    </div>   
    
    

    <!-- <section>
        <form action="/" method="post" class="form">
            <button class="playBtn" type="submit" name="play_btn" ></button>

        </form>
    </section> -->
    
 
    
</html>
